.error {
	color: #ff0000;
	font-size: 14px;
	display: block;
}

 
 h2{
 	font-size: 23px;
 }
 
td a {
	display: block;
	margin-left: 20px;
}

body {
	background-color: rgb(196, 114, 9);
}

header {
	width: 1000px;
	margin: 0 auto;
}

footer {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	background-color: burlywood;
}

table{
	font-size: 20px;
}

.map{
	display: block;
	float: right;
}

.center {
	margin: 0 auto;
}

#content {
	width: 1000px;
	height: 600px;
	background-color: rgb(196, 100, 9);
	padding:5px;
}

.center_form{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.left_side{
	display: block;
	float: left;
	width:500px;
}

.right_side{
	display: block;
	float: right;
}

#logo {
	width: 1000px;
}

nav {
	width: 1000px;
	height: 30px;
	background-color: burlywood;
}

nav li {
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	font-size: 20px;
	padding-left: 50px;
	display: block;
	width: 200px;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #FF0000;
}

a:active {
	color: #000000;
}
